.form-layout {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    gap: 80px;
}
.form-layout input[type=text],
input[type=number],
input[type=email],
textarea {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    height: 40px;
    padding: 5px;
    color: #515151;
    border: 2px solid #dddddd;
    border-radius: 0;
    background-color: #ffadad00;
}
.form-layout input[type=button] {
    height: 40px;
    width: 100px;
    background-color: var(--main-red);
    color: white;
    font-weight: bolder;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: block;
    margin-left: auto;
}
.form-layout textarea {
    resize: none;
    height: 130px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input,
textarea:focus {
    outline: none;
}
.form-layout>div {
    width: 50%;
    position: relative;
}
.form-layout form {
    opacity: 1;
    transition: opacity 0.3s ease;
}
.form-layout .grouping {
    margin-top: 10px;
}
.form-layout input[type=button] {
    margin-top: 30px;
}
.form-layout .grouping:last-child {
    margin-top: 0px;
}
.form-layout .grouping.flex {
    gap: 20px;
}
.form-layout .grouping.flex>div {
    width: 50%;
}
.form-layout label {
    position: relative;
    top: 30px;
    font-size: 1em;
    margin-left: 5px;
    z-index: -1;
}
.form-error {
    position: relative;
    overflow: visible;
}
.form-error::after {
    content: attr(data-error);
    display: block;
    width: fit-content;
    position: absolute;
    right: 0;
    bottom: -14px;
    padding: 0 10px;
    font-size: 0.6em;
    font-weight: bold;
    color: red;
}

.top-label {
    top: 0px !important;
    font-size: 0.9em !important;
    color: var(--main-gray) !important;
}

.notification{
    height: 30px;
    display: none;
    background-color: rgb(203 255 203);
    padding: 10px;
    width: fit-content;
    position: absolute;
    bottom: 0;
    transition: opacity 0.3s ease;
}
.notification > *{
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
}
.notification > .icon{
    margin-right: 10px;
    height: 20px;
    width: 20px;
    background-color: white;
    background-size: 100%;
    border-radius: 50%;
    background-image: url('./assets/green-checkmark-icon.svg');
}
.notification > .text{
    color: var(--green);
}
.notification.error{
    background-color: rgb(255 203 203);
}
.notification.error > .text{
    color: var(--main-red);
}
.notification.error > .icon{
    background-image: url('./assets/close-red-icon.svg');
} 

@keyframes notificationUP {
    from {
        bottom: 0;
        opacity: 0;
        display: block;
    }
    to {
        bottom: calc(100% - 110px);
        opacity: 1;
        display: block;
    }
}

@keyframes labelUpKF {
    from {
        top: 30px;
        font-size: 1em;
        color: var(--light-gray);
    }

    to {
        top: 0px;
        font-size: 0.9em;
        color: var(--main-gray);
    }
}

@keyframes labelDownKF {
    from {
        top: 0px;
        font-size: 0.9em;
        color: var(--light-gray);
    }

    to {
        top: 30px;
        font-size: 1em;
        color: var(--main-gray);
    }
}

.map{
    width: 100%;
    height: 200px;
    box-sizing: border-box;
}

.location-info{
    margin-top: 20px;
}
.location-row{
    margin-top: 10px;
    display: flex;
}
.location-row > div{
    margin-left: 20px;
}
.icon-holder{
    width: 20px;
    display: flex;
}