.image-black-car {
    background-image: url('./assets/import/01.jpg');
    background-size: cover;
    width: 100%;
}

.image-motocycle {
    background-image: url('./assets/import/02.jpg');
    background-size: cover;
    width: 100%;
}

.image-black-car-2 {
    background-image: url('./assets/import/03.jpg');
    background-size: cover;
    width: 100%;
}

.image-muscle-car {
    background-image: url('./assets/import/04.jpg');
    background-size: cover;
    width: 100%;
}

.car-lineup {
    display: flex;
    width: 100%;
    box-sizing: border-box;
}

.car-lineup>div {
    background-color: red;
    flex-grow: 1;
    margin-right: 20px;
    max-width: 250px;
    height: 175px;
    position: relative;
}

.car-lineup>div:first-child {
    margin-left: auto;
}

.car-lineup>div:last-child {
    margin-right: auto;
}

.car-lineup>div>div {
    background-color: black;
    transform: skew(var(--angle));
    width: 150px;
    height: 30px;
    display: flex;
    position: relative;
    top: -15px;
}

.car-lineup>div>div>p {
    transform: skew(var(--angle-offset));
    margin: auto;
    color: white;
    font-weight: lighter;
}