/*GENERAL*/
:root {
    --main-red: #e3051a;
    --main-gray: #212121;
    --top-menu-height: 100px;
    --angle: -26deg;
    --angle-offset: 26deg;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

html {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: aquamarine;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    background-color: red;
}

section {
    min-height: 100%;
    max-width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    width: 100%;
}

i {
    font-size: 1.2em;
}

.main {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#contentContainer {
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: white;
}

#content {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.side-menu-holder {
    width: 0;
    overflow: visible;
    height: 100%;
    display: none;
}

.label {
    height: 50px;
    padding: 0 20px;
    transform: skew(var(--angle));
    display: flex;
    position: relative;
    box-sizing: border-box;
}

.label>p {
    color: white;
    transform: skew(var(--angle-offset));
}

.sub-header-box {
    display: flex;
    position: relative;
    padding: 30px;
    box-sizing: border;
    transform: skew(var(--angle));
}
.sub-header-box>div:nth-child(2) {
    width: 5px;
    background-color: white;
    flex-grow: 1;
    min-width: 0;
    box-sizing: border-box;
    padding: 0 50px;
    font-size: 1.2em;
}
.sub-header-box>div:nth-child(2)>p {
    font-size: 1.2em;
}
.sub-header-box>div:first-child,
.sub-header-box>div:last-child {
    width: 5px;
    background-color: var(--main-red);
}

/*//////////*/

/*COLORING*/
h1.red,
h2.red,
p.red,
i.red {
    color: var(--main-red);
}

section.red,
div.red {
    background-color: var(--main-red);
}

h1.white,
h2.white,
p.white,
i.white {
    color: white;
}

section.white,
div.white {
    background-color: white;
}

h1.gray,
h2.gray,
p.gray,
i.gray {
    color: var(--main-gray);
}

section.gray,
div.gray {
    background-color: var(--main-gray);
}

/*//////////*/

/*FONT STYLES*/
h1 {
    font-size: 3.9em;
    font-family: 'Fjalla One', sans-serif;
    margin-top: auto;
    margin-bottom: auto;
}

h2 {
    font-size: 2.1em;
    font-family: 'Fjalla One', sans-serif;
    margin-top: auto;
    margin-bottom: auto;
}

p {
    font-size: 1em;
    margin-top: auto;
    margin-bottom: auto;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}

/*//////////*/

/*POSITIONING AND DIMENSIONS*/
.flex {
    display: flex;
}

.content-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.align-vertical {
    margin-top: auto;
    margin-bottom: auto;
}

.align-horizontal {
    margin-right: auto;
    margin-left: auto;
}

.center-text {
    text-align: center;
}

.grow {
    flex-grow: 1;
    min-width: 0;
}

.skew {
    transform: skew(var(--angle));
}

.skew-offset {
    transform: skew(var(--angle-offset));
}

i.large {
    font-size: 4em;
}
p.large{
    font-size: 1.5em;
}

i.medium {
    font-size: 1.8em;
}

i.small {
    font-size: 1em;
}
span.small{
    font-size: 0.8em;
    font-weight: lighter;
}

p.small {
    font-size: 1em;
}

.main-padding {
    padding-right: 30px;
    padding-left: 30px;
}

.main-padding>.skew {
    margin-right: 15px;
    margin-left: 15px;
}

.height-50-percent {
    height: 50%;
}

.height-100-percent {
    height: 50%;
}

.margin-auto {
    margin: auto;
}
.margin-top-10{
    margin-top: 10px;
}
.margin-top-20{
    margin-top: 20px;
}
.margin-top-30{
    margin-top: 30px;
}
.margin-top-50 {
    margin-top: 50px;
}

.margin-top-60 {
    margin-top: 60px;
}
.margin-right-20{
    margin-right: 20px;
}
.margin-left-20{
    margin-left: 20px;
}
.padding-right-5 {
    padding-right: 5px;
}

.padding-left-5 {
    padding-left: 5px;
}

.padding-right-15 {
    padding-right: 15px;
}

.padding-left-15 {
    padding-left: 15px;
}

/*//////////*/

/*OVERFLOW CONTROL*/
.overflow-hidden {
    overflow: hidden;
}

.vertical-auto {
    overflow-x: hidden;
    overflow-y: auto;
}

/*//////////*/

/*BOTTOM_BAR*/
.bottom-bar {
    height: 300px;
    display: flex;
    width: 100%;
    background: url("https://www.motorsv8.com/assets/public/img/bg-damier.jpg") repeat-x top center rgba(0, 0, 0, 1);
    justify-content: space-between;
    padding: 20px 50px;
    box-sizing: border-box;
}

.footer-item {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.footer-text-container {
    width: 100%;
    margin-top: 10px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.footer-row {
    display: flex;
    margin-top: 10px;
}

.footer-row>*:first-child {
    margin-right: 10px;
}

.footer-row>* {
    margin-top: auto;
    margin-bottom: auto;
}

/*//////////*/

@media only screen and (max-width: 1200px) {
    .side-menu-holder {
        display: block;
    }
}