<div id="content">
  <div class="bottom-bar">
    <div class="footer-item">
      <div class="label red">
        <p class="align-vertical align-horizontal">ENCONTRE-NOS</p>
      </div>
      <div class="footer-text-container center-text">
        <p class="white">Rua de um Santo qualquer, nº 780</p>
        <p class="white">9000-900</p>
      </div>
    </div>

    <div class="footer-item">
      <div class="label red">
        <p class="align-vertical align-horizontal">REDES SOCIAIS</p>
      </div>
      <div class="footer-text-container content-center">
        <i class="fa-brands fa-facebook-f white large"></i>
      </div>
    </div>

    <div class="footer-item">
      <div class="label red">
        <p class="align-vertical align-horizontal">CONTATE-NOS</p>
      </div>
      <div class="footer-text-container">
        <div class="align-vertical">
          <div class="footer-row">
            <i class="fa-sharp fa-solid fa-envelope red"></i>
            <p class="white small">email@umEmail.com</p>
          </div>
          <div class="footer-row">
            <i class="fa-solid fa-phone red"></i>
            <p class="white small">255111111</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
