<div id="content" class="home-background overflow-hidden">
  <link rel="stylesheet" href="./style/home.css" />
  <div class="grow vertical-auto">
    <section class="content-center">
      <div>
        <h1 class="red text-shadow center-text">SLIDER DE SERVIÇOS</h1>
        <h2 class="red text-shadow center-text margin-top-60">
          VEÍCULOS E COLECIONÁVEIS AMERICANOS
        </h2>
        <a class="contact-button align-horizontal">
          <i class="fa-solid fa-phone"></i>
          <p>222222222</p>
        </a>
      </div>
    </section>
    <section class="white">
      <h2 class="gray center-text">
        ESPECIALISTAS EM VEÍCULO AMERICANOS <br />
        E COLECIONÁVEIS NA xx cidade xx
      </h2>
      <div class="home-sections-layout">
        <section-button page="import" label="IMPORTAÇÃO"></section-button>
        <section-button page="restoration" label="RESTAURAÇÃO"></section-button>
        <section-button page="maintenance" label="MANUTENÇÃO"></section-button>
        <section-button page="achievement" label="CONQUISTAS"></section-button> 
        <section-button page="advertisement" label="STOCK"></section-button>
        <section-button page="contact" label="CONTACTO"></section-button>
      </div>
    </section>
  </div>
</div>
