<div id="content">
  <link rel="stylesheet" href="./style/import.css" />
  <div class="grow vertical-auto">
    <section>
      <div class="header-background content-center">
        <h2 class="white">IMPORTAÇÃO DE VEÍCULOS ANTIGOS</h2>
      </div>
      <div class="white main-padding">
        <div class="sub-header-box">
          <div></div>
          <div>
            <p>
              Sonha em possuir um veículo de colecionador, um veículo mítico ou
              mesmo um veículo totalmente superdimensionado?
              <br />
              <span class="small">
                (Um Camaro SS 1966, um Mustang GT 1969, uma Harley dos anos 70
                ou um MuscleCar?)</span
              >
            </p>
          </div>
          <div></div>
        </div>
        <div class="car-lineup margin-top-20">
          <div class="image-muscle-car">
            <div>
              <p>Ford Mustang</p>
            </div>
          </div>
          <div class="image-black-car-2">
            <div>
              <p>Carro Antigo</p>
            </div>
          </div>
          <div class="image-motocycle">
            <div>
              <p>Harley</p>
            </div>
          </div>
          <div class="image-black-car">
            <div>
              <p>Hot Rod</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="gear-background content-center main-padding">
        <p class="white large">
          Pois hoje esse sonho se torna possível graças a Motors V8, sua
          especialista na importação de veículos antigos e colecionáveis!<br />
          <br />
          Especialista na importação de viaturas americanas, mas também
          europeias e asiáticas, (automóveis, 4x4, motos, ...) com mais de 30
          anos.
        </p>
      </div>
      <div class="white">
        <div class="content-center margin-top-50">
          <p class="gray large">
            VOCÊ ESCOLHE SEU VEÍCULO E NÓS CUIDAMOS DO RESTO!
          </p>
        </div>
        <div class="margin-top-20 perks-lineup">
          <div class="center-text">
            <p class="large red">CONTROLE</p>
            <p class="margin-top-10">No local do veículo antes da compra</p>
            <div class="icon"><i class="fa-solid fa-circle-check"></i></div>
          </div>
          <div class="center-text">
            <p class="large red">APROVAÇÃO</p>
            <p class="margin-top-10">de acordo com as normas portuguesas </p>
            <div class="icon"><i class="fa-solid fa-circle-check"></i></div>
          </div>
          <div class="center-text">
            <p class="large red">GARANTIA</p>
            <p class="margin-top-10">Oferecemos garantia para todos os veículos
            </p>
            <div class="icon"><i class="fa-solid fa-circle-check"></i></div>
          </div>
          <div class="center-text">
            <p class="large red">ENTREVISTA</p>
            <p class="margin-top-10">Garantimos a manutenção e reparação de todos os modelos importados
            </p>
            <div class="icon"><i class="fa-solid fa-circle-check"></i></div>
          </div>
        </div>
      </div>
    </section>
    <div id="bottomBar"></div>
  </div>
</div>
