<div id="content">
  <link rel="stylesheet" href="../style/maintenance.css" />
  <div class="grow vertical-auto">
    <section>
      <div class="header-background content-center">
        <h2 class="white">MANUTENÇÃO DE TODOS OS VEÍCULOS</h2>
      </div>
      <div class="white">
        <div class="margin-top-20 perks-lineup">
          <div class="center-text">
            <p class="large red">PNEUMÁTICA</p>
            <p class="margin-top-10">
              Pneus, montagem e balanceamento, pastilhas de freio, rolamentos,
              discos, ...
            </p>
            <div class="icon-container">
              <div class="icon-tire"></div>
            </div>
          </div>
          <div class="center-text">
            <p class="large red">MECÂNICA</p>
            <p class="margin-top-10">
              Configurações do motor, distribuição, velas de ignição, correias,
              escapamento, ...
            </p>
            <div class="icon-container">
              <div class="icon-repair"></div>
            </div>
          </div>
          <div class="center-text">
            <p class="large red">TRANSMISSÃO</p>
            <p class="margin-top-10">Caixa de velocidades, embraiagem,...</p>
            <div class="icon-container">
              <div class="icon-transmission"></div>
            </div>
          </div>
        </div>
        <div class="margin-top-20 brands-lineup">
          <div class="icon-mercedes"></div>
          <div class="icon-buick"></div>
          <div class="icon-chevrolet"></div>
          <div class="icon-chrysler"></div>
          <div class="icon-dodge"></div>
          <div class="icon-ferrari"></div>
          <div class="icon-harley"></div>
          <div class="icon-amc"></div>
          <div class="icon-cadillac"></div>
          <div class="icon-corvette"></div>
          <div class="icon-ford"></div>
          <div class="icon-pontiac"></div>
        </div>
      </div>
    </section>
    <div id="bottomBar"></div>
  </div>
</div>
