<div id="content">
  <link rel="stylesheet" href="./style/restoration.css" />
  <div class="grow vertical-auto">
    <section>
      <div class="header-background content-center">
        <h2 class="white">RESTAURAÇÃO DE VEÍCULOS ANTIGOS</h2>
      </div>
      <div class="white">
        <div class="sub-header-box margin-top-20">
          <div></div>
          <div>
            <p>
              A Motors V8 é especialista no restauro de viaturas antigas e de
              coleção.
            </p>
          </div>
          <div></div>
        </div>

        <div class="restoration-services">
          <div class="label red"><p class="large">Carroceria / Pintura</p></div>
          <div class="content">
            <div class="text align-vertical">
              <p class="white">
                <span class="light">Realização de todas as suas pinturas originais, personalizadas
                ou decorativas, quer se trate da carroçaria, do chassis, das
                pinças dos travões ou mesmo das peças do motor.</span><br>
                Preparação Topchop: <span class="light">Corte e rebaixamento do teto do seu veículo.</span><br>
                Preparação de canalização: <span class="light">Embutindo a carroceria do seu veículo no chassi.
                Também realizamos todos os seus projetos Hot-Rod e Custom.</span>
              </p>
            </div>
            <div class="pictures align-vertical">
              <div class="picture-1-1"></div>
              <div class="picture-1-2"></div>
              <div class="picture-1-3"></div>
              <div class="picture-1-4"></div>
              <div class="picture-1-5"></div>
              <div class="picture-1-6"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div id="bottomBar"></div>
  </div>
</div>